.h1 {
    margin-left: 38%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.p1 {
    margin-right: 40%;

}
.button {
    margin-top: 5%;
    margin-right: 50%;
    margin-left: 50%;
}
.h2 {
    margin-left: 48%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.p2 {
    margin-right: 40%; 
}
.img {
position: relative;
}

.h3 {
    margin-left: 48%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size : 250%;
    
}
.h4 {
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 250%; 
}